*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --gray-blue: hsl(240, 18%, 77%);
  --dark-blue: hsl(240, 38%, 20%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 37.5em) {
      @content;
    } // 600 px = 37.5em
  }
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 56.2em) {
      @content;
    } // 900 px = 56.2em
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 75em) {
      @content;
    } // 1200 px = 75em
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800 px = 112em
  }
}

html {
  height: 100%;
  font-size: 42%;

  @include respond(phone) {
    font-size: 42%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  // font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: url("./images/pattern-curve.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 5rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100%;

  @include respond(tab-port) {
    justify-content: center;
  }
}

.testi {
  --padding: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3.5rem;
  // margin: 5rem 1rem;

  @include respond(tab-port) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
  }

  @include respond(tab-port){
      padding: 3.5rem 10rem;
      margin: 2rem;
    }
    
    @include respond(tab-land) {
    padding: 3.5rem;
    width: 80vw;
  }

  &__img-box {
    background: url("./images/pattern-bg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: var(--padding);
    margin-bottom: 5rem;
    position: relative;

    height: 60vh;
    max-width: 350px;
    
    @include respond(tab-port) {
        max-width: unset;
      --padding: 5rem;
      position: absolute;
      top: 37.5%;
      right: calc(100vw - 100% - 37rem);
      height: 85vh;
      // width: 100vh;
      transform: translateY(-50%);
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 0.5rem;
    animation: slideIn 2s ease-in-out;

    @include respond(tab-port) {
      // height: 60%;
      // width: 60%;
    }
  }

  &__controls {
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    width: 30%;
    max-width: 100px;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(50% - var(--padding)));
    
    @include respond(tab-port){
        max-width: 125px;
        padding: 2.125rem 3rem;
        left: 30%;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue);
    position: relative;

    @include respond(tab-port) {
        width: 85%;
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    @include respond(tab-land){
        width: 65%;
    }

    @include respond(big-desktop){
        width: 59.5%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 25%;
      background: url("./images/pattern-quotes.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
      
      @include respond(tab-port){
          left: -25%;
      }
    }
  }

  &__para {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    position: relative;
    
    @include respond(tab-port){
        text-align: left;
        font-size: 3.25rem;
    }
    @include respond(tab-land) {
      font-size: 3.5rem;
    }
    @include respond(big-desktop) {
      font-size: 7.5rem;
    }
  }

  &__user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;

    @include respond(tab-port) {
      flex-direction: row;
      font-size: 2.25rem;
      align-items: baseline;
    }
  }

  &__user{
      font-weight: 700;
      @include respond(tab-port) {
          margin-right: 1rem;
      
  }

  }

  &__position {
    font-weight: 500;
    font-size: 2rem;
    color: var(--gray-blue);

    @include respond(tab-port) {
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.attribution {
  position: absolute;
  font-size: 1.6rem;
  text-align: center;
  bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
